h1{
    font: 200%/1.2 arial;
    
}
body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 courier;
    max-width: 100ch;
    color: rgb(0, 0, 0);

    margin-inline: 10% 10%;
    writing-mode: horizontal-tb;
    padding: 10%;
   }
   figcaption {
    color: #46376a;
    font: 85% courier;
    font-style: italic;
    padding: 3px;
    text-align: center;
  }

   li {
    display: inline;
  }

  a:hover {
    background-color: rgb(190, 126, 172);
    color: rgb(6, 6, 113);
  }